---
layout: default
title: People
---


<div id="container" class="cols">
    {% for post in site.people %}
    {% if post.archive %}
    {% elsif post.title != 'People' %}
    <div class="box">
       {% if post.img %}
          <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
       {% endif %}
          <div class="container">
            <h4>{{post.title}}</h4>
            <p>{{post.description}}</p>
             <div class="action"><a href="{{post.url | prepend: site.baseurl}}">Learn More<i class="fa fa-arrow-right"></i></a></div> 
        </div>   
    </div>
   {% endif %}
   {% endfor %}

  <!-- Archives list -->


</div>
  <div id="archives">


  <p>Below is an incomplete list of people who contributed to our Digital Humanities while they were affiliated to Columbia University. They have our debt of gratitude.</p>
  {% for post in site.people %}
    {% if post.archive %}
    <ul>
      <a href="{{site.baseurl}}{{post.url}}"><li>{{post.title}}</li></a>
    </ul>
    {% endif %}
   {% endfor %}
  </div>

