---
layout: default
title: People
---


<div id="container" class="cols">
    {% for post in site.people %}
    {% unless post.title == 'People' %}
    <div class="box" style="background-color:#{{post.color}}">
       {% if post.img %}
          <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
       {% endif %}
          <div class="container">
            <h4>{{post.title}}</h4>
            <p>{{post.description}}</p>
             <div class="action">Learn More<a href="{{post.url | prepend: site.baseurl}}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div> 
        </div>   
    </div>
   {% endunless %}
   {% endfor %}
</div>
