---
layout: default
title: Teams
---


<div id="container" class="cols">
    {% for post in site.teams %}
    {% if post.archive %}
    {% elsif post.title != 'Teams' %}
    <div class="box">
       {% if post.img %}
          <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}">
       {% endif %}
          <div class="container">
            <h4>{{post.title}}</h4>
            <p>{{post.description}}</p>
             <div class="action">Learn More<a href="{{post.url | prepend: site.baseurl}}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></div> 
        </div>   
    </div>
   {% endif %}
   {% endfor %}
</div>
