---
layout: default
title: Projects
---


<div id="container" class="cols">
    {% for post in site.projects %}
    {% if post.archive %}
    {% elsif post.title != 'Projects' %}
    <div class="box">
       {% if post.img %}
          <img class="feat-image" src={{ "/images/" | prepend: site.baseurl | append: post.img }} alt="{{post.title}}" width="300" height="100%">
       {% endif %}
          <div class="container">
            <h4>{{post.title}}</h4>
            <p>{{post.description}}</p>
             <div class="action"><a href="{{post.url | prepend: site.baseurl}}">Learn More<i class="fa fa-arrow-right" aria-hidden="true"></i></a></div> 
        </div>   
    </div>
   {% endif %}
   {% endfor %}
</div>
<div id="archives">
  <p>Projects sometimes seize to be active or become obsolete, others migrate institutions, and some sadly vaporize. Below is an incomplete list of historical projects at Columbia University.</p>
  <ul>
  {% for post in site.projects %}
    {% if post.archive %}
    
      <a href="{{site.baseurl}}{{post.url}}"><li>{{post.title}}</li></a>
    
    {% endif %}
   {% endfor %}</ul>
</div>
