/* General */

img {
color: transparent;
}

#archives {
    width: 60%;
    padding-top: 2rem;
    margin: 4em auto;
    height: auto;
    border-top: 1px solid #8c8b8b;
}

div#archives > ul {
    list-style-type: circle;

}

div.section {
    margin-bottom: 30px;
}

div.page-container {
  width:60%;
  font-size:1.1rem;
}

div.no-border {
    box-shadow: none;
}

div.page > article {
    border-bottom: none;
}

div#footer-logo {
    text-align: center;
}

div#footer-copyright {
    margin-top: 2rem;
    font-size: .6rem;
    text-align: center;
}

div.crop {
  height: 200px;
  overflow: hidden;
}

div.crop img {
  opacity: 0.5;
}

h2 {
    margin-top: 2em;
}

/* The header */

header {
    margin: 20px 20px 40px 20px;
}

/* The navigation menu links */

.topnav {
    float: right;
    padding: 16px;
    font-family: $head-font-family;
}
.topnav a {
    padding: 8px 4px 8px 4px;
    text-decoration: none;
    font-size: 1rem;
    color: $text-color;
    transition: 0.3s;
    white-space: normal;
}

/* When you mouse over the navigation links, change their color */
.topnav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Logo */

#logo {
    float:left;
    width:30%;
}

/* Responsive media */

@media only screen and (max-width: 564px) {

    #main {
        clear:both;
    }
    .topnav {
        margin:10px 0px;
    }
    #logo {
        width:100%;
    }

    div.page-container {
        width:90%;
        font-size:.9rem;
    }
}
