---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
<header>

<a href="{{site.baseurl}}/"><img id="logo" src="{{site.baseurl}}/images/dhcu-logo.png" alt="Columbia Digital Humanities logo"/></a>
<!-- Use any element to open the sidenav -->
<span class="topnav">{% include menu-links.html %}</span>

</header>
<div id="main">




{{content}}



{% include footer.html %}

</div>
<script src="{{site.baseurl}}/js/jquery.min.js"></script>
<script type="text/javascript">
$("div.box").sort(function(){
    return Math.random()*10 > 5 ? 1 : -1;
}).each(function(){
    var $t = $(this),
        color = $t.attr("class");
    $t.css({backgroundColor: color}).appendTo( $t.parent() );
    
});
</script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" type="text/css"> 
{% include analytics.html %}
</body>
</html>
