---
layout: default
---

<div class="page-container">
   {% if page.img %}
    <div class="crop">
        <a href="{{page.link}}" target="_blank"><img class="featured-img" src={{ "/images/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}"></a>
    </div>
    {% endif %}
    <div class="content">
    <article>
        <h1 class="page-title">{{page.title}}</h1>
        {{page.content | markdownify}}
        
    </article>
    {% if page.link %}
    <p><a href="{{page.link}}" target="_blank" alt="{{page.title}}">Visit Project</a></p>
    {% endif %}

<!-- This bit of logic generates "tags" for People and Teams -->
    {% capture project_name %}{{page.title}}{% endcapture %}
    {% if page.people %}
    <p>People:<br>
    {% for person in page.people %}
        {% for post in site.people %}
            {% if post.title==person %}
            <a href="{{site.baseurl}}{{post.url}}">{% endif %}
        {% endfor %}
        {{person}}
        {% for post in site.people %}
            {% if post.title==person %}</a><br>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </p>
    {% endif %}
    {% if page.teams %}
    <p>Teams:<br>
    {% for team in page.teams %}
        {% for post in site.teams %}
            {% if post.title==team %}
            <a href="{{site.baseurl}}{{post.url}}">{% endif %}
        {% endfor %}
        {{team}}
        {% for post in site.teams %}
            {% if post.title==team %}</a><br>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </p>
    {% endif %}
    </div>
</div>

